<!--
<select class="form-select w-25 mb-3" #pageValue (change)="menuSwitch(pageValue.value)">
    <option value="dashboard">Dashboard</option>
    <option value="login">Login</option>
    <option value="profile">Profile</option>
    <option value="projectdetails">Project Details</option>
    <option value="projectlist">Project List</option>
    <option value="taskdetails">Task Details</option>
    <option value="tasklist">Task List</option>
    <option value="userlist">User List</option>
</select>
-->
<nav>
    <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/projectlist">Projects</a></li>
        <li><a routerLink="/tasklist">Tasks</a></li>
        <li><a routerLink="/userlist">Users</a></li>
    </ul>
</nav>