<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-list-item" (click)="closeMenu()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/projectlist" routerLinkActive="active-list-item" (click)="closeMenu()">
        <mat-icon matListItemIcon>folder</mat-icon>
        <span matListItemTitle>My Projects</span>
    </a>
    <a mat-list-item routerLink="/tasklist" routerLinkActive="active-list-item" (click)="closeMenu()">
        <mat-icon matListItemIcon>check_circle</mat-icon>
        <span matListItemTitle>Your Tasks</span>
    </a>
    <!--
    <a mat-list-item routerLink="/userlist" routerLinkActive="active-list-item" (click)="closeMenu()">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Team Members</span>
    </a>
    -->
    @if (isLoggedIn) {
        <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closeMenu()">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <span matListItemTitle>Profile</span>
        </a>
        <a mat-list-item (click)="logout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle>Logout</span>
        </a>
    }
    @if (!isLoggedIn) {
        <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
            <mat-icon matListItemIcon>login</mat-icon>
            <span matListItemTitle>Login</span>
        </a>
        <a mat-list-item routerLink="/register" routerLinkActive="active-list-item" (click)="closeMenu()">
            <mat-icon matListItemIcon>person_add</mat-icon>
            <span matListItemTitle>Register</span>
        </a>
    }
</mat-nav-list>