<div class="task-details-container">
    <mat-card class="task-card">
        <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>
            <span class="status-badge" [ngClass]="getStatusClass(task.status)">{{ statusMap[task.status] }}</span>
            <span class="priority-badge" [ngClass]="getPriorityClass(task.priority)">{{ priorityMap[task.priority] }}</span>
        </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
        <div class="task-meta">
            <div class="meta-item">
            <mat-icon>event</mat-icon>
            <span>Due Date: {{ task.dueDate | dateFormatter }}</span>
            </div>
            <div class="meta-item">
            <mat-icon>person</mat-icon>
            <span>Assigned to: {{ task.assignedTo.name.first_name }} {{ task.assignedTo.name.last_name }}</span>
            </div>
        </div>

        <h3>Description</h3>
        <p class="task-description">{{ task.description }}</p>

        <h3>Comments ({{ task.comments.length }})</h3>
        <div class="comments-section">
            <div class="comment" *ngFor="let comment of task.comments">
            <div class="comment-header">
                <div class="author-info">
                <span class="author-name">{{ comment.author.name.first_name }} {{ comment.author.name.last_name }}</span>
                <span class="comment-time">{{ comment.createdAt | dateFormatter }}</span>
                </div>
            </div>
            <p class="comment-text">{{ comment.text }}</p>
            </div>
        </div>
        </mat-card-content>
    </mat-card>
</div>
  