<div class="container mt-4">
    <select class="form-select w-50 my-3" #chosenProfile (change) = "reload(chosenProfile.selectedIndex)">
        @for (profile of ProfileObject; track $index) {
            <option value="{{$index}}">{{profile.id}}</option>
        }
    </select>

    <h2 class="mb-4 fw-bold">User Profile</h2>

    <div class="user-info my-4">
        <div class="main-info row align-items-center">
            <div class="col-auto">
                <p class="avatar">{{ProfileObject[selectedIndex].avatar}}</p>
            </div>
            <div class="col">
                <h3 class="full-name mb-1">{{ProfileObject[selectedIndex].full_name}}</h3>
                <p class="display-name text-muted">({{ProfileObject[selectedIndex].display_name}})</p>
            </div>
        </div>
        <div class="other-info row mt-2">
            <p class="email fw-bold">{{ProfileObject[selectedIndex].email}}</p>
            <p class="bio">{{ProfileObject[selectedIndex].bio}}</p>
            <p class="location"><i class="bi bi-geo-alt"></i>{{ProfileObject[selectedIndex].location}}</p>
        </div>
    </div>

    <h2 class="mt-5 fw-bold">Project and Task Statistics</h2>

    <table class="stats-table table table-striped table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Metric</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Projects</td>
                <td>{{ProfileObject[selectedIndex].projects.total}}</td>
            </tr>
            <tr>
                <td>Completed Projects</td>
                <td>{{ProfileObject[selectedIndex].projects.completed}}</td>
            </tr>
            <tr>
                <td>Pending Projects</td>
                <td>{{ProfileObject[selectedIndex].projects.pending}}</td>
            </tr>
            
            <tr>
                <td>Assigned Tasks</td>
                <td>{{ProfileObject[selectedIndex].tasks.assigned}}</td>
            </tr>
            <tr>
                <td>Completed Tasks</td>
                <td>{{ProfileObject[selectedIndex].tasks.completed}}</td>
            </tr>
            <tr>
                <td>Pending Tasks</td>
                <td>{{ProfileObject[selectedIndex].tasks.pending}}</td>
            </tr>
            <tr>
                <td>Overdue Tasks</td>
                <td>{{ProfileObject[selectedIndex].tasks.overdue}}</td>
            </tr>
            <tr>
                <td>Task Completion Rate</td>
                <td>{{(ProfileObject[selectedIndex].tasks.completed / ProfileObject[selectedIndex].tasks.assigned * 100).toFixed(2)}}%</td>
            </tr>
        </tbody>
    </table>
</div>
