/* Container */
mat-sidenav-container {
    height: 100%;
}

/* Sidenav */
.side-nav {
    background-color: #252535;
    color: #f0f0f0;
    width: 250px;
}

mat-icon {
    color: white;
}

/* Toolbar */
.top-toolbar {
    background-color: #252535;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.toolbar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation */
.desktop-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.desktop-nav li {
    margin-right: 20px;
}

.desktop-nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 12px;

    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.desktop-nav a:hover {
    background-color: #42425e;
}

/* Responsive design */
.menu-toggle-button {
    display: none;
}

@media (max-width: 975px) {
    .menu-toggle-button {
        display: block;
        margin-right: auto;
        color:white;
    }

    .desktop-nav ul {
        display:none;
    }
}