<app-menu (selectedPage)="changePage($event)"></app-menu>
@switch (page) {
    @case ("dashboard") {
        <app-dashboard></app-dashboard>
    }
    @case ("login") {
        <app-login></app-login>
    }
    @case ("profile") {
        <app-profile></app-profile>
    }
    @case ("projectdetails") {
        <app-projectdetails></app-projectdetails>
    }
    @case ("projectlist") {
        <app-projectlist></app-projectlist>
    }
    @case ("taskdetails") {
        <app-taskdetails></app-taskdetails>
    }
    @case ("tasklist") {
        <app-tasklist></app-tasklist>
    }
    @case ("userlist") {
        <app-userlist></app-userlist>
    }
    @default {
        <h1>Page not found...</h1>
    }
}
<!-- <router-outlet /> -->
