<mat-sidenav-container>
    <mat-sidenav #sidenav class="side-nav">
        <app-menu [sidenav]="sidenav"></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="top-toolbar">
            <button mat-icon-button class="menu-toggle-button" (click)="onToggleSidenav(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="toolbar-title">DevTracker</div>
            <nav class="desktop-nav">
                <ul>
                    <li><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
                    <li><a routerLink="/projectlist"><mat-icon>folder</mat-icon> Projects</a></li>
                    <li><a routerLink="/tasklist"><mat-icon>check_circle</mat-icon> Tasks</a></li>
                    <li><a routerLink="/userlist"><mat-icon>group</mat-icon> Team</a></li>
                    @if (isLoggedIn) {
                        <li><a routerLink="/profile"><mat-icon>account_circle</mat-icon> Profile</a></li>
                        <li><a href="#" (click)="$event.preventDefault(); logout();"><mat-icon>logout</mat-icon> Logout</a></li>
                    }
                    @if (!isLoggedIn) {
                        <li><a routerLink="/login"><mat-icon>login</mat-icon> Login</a></li>
                        <li><a routerLink="/register"><mat-icon>person_add</mat-icon> Register</a></li>
                    }
                </ul>
            </nav>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>